body{
	background-color: #F7EAC6;
	overflow-x: hidden;
    width: 100%;
    height: 100%;
}

header{
	background-color: green;
	height: auto;
    clear: both;
	width: 100%;
	overflow: hidden;
    
}
#logo{
	
	float: left;
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: auto;
    padding-left: 2px;
	position: absolute;
	
}
#logo img{
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
	
}
#titlename{
	
	
	height: 100px;
	width: 75%;
	display: inline-block;
	padding: 5px;
	padding-right: 40px;
	margin: auto;
	float: right;
	
	
}

#titlename img{
	display: block;
	margin:auto;
	width:100%;
	height: 100%;
}
nav{
	float: left;
	height: 400px;
	width: 150px;
	background-color: red;
	box-shadow: 10px 10px 5px #888888;
	position: absolute;
	margin-top:10px;
}

#navbuttons{
	padding-top: 10px;
	margin: auto;
	width: 100%;
	height: auto;

}
#navbuttons ul{
	list-style-type: none;
	margin: auto;
	overflow: hidden;
	text-align: center;
	width: 100px;
	height: 135px;
	padding:0;
	
}

#navbuttons li {
	
	
}

#navbuttons ul a{
	text-decoration: none;
	font-size: 15px;
	font-family:Impact;
	color: black;
}
#navbuttons a:hover{
	background-color: green;
}

#hours{
	margin: auto;
	width: 100%;
	height: auto;
	padding: 2px;
}

#hours ul{
	list-style-type: none;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 125px;
	padding: 0;
}

#hours ul li{
	font-size: 15px;
	font-family:Times New Roman;
}

#phonenum{
	margin: auto;
	padding: 0;
	width: 100%;
	height: 50px;
	
}
#phonenum p {
	margin: auto;
	text-align: center;
	font-family: impact;
	font-size: 25px;
}

#indexcontentarea {
	float:right;
	width: auto;
	height: auto;
	margin: auto;
    margin-left: 200px;
	margin-top: 20px;
	margin-bottom: 200px;
	display: inline;
	position: relative;	
	
}
#homepageimg {
	width:80%;
	height:80%;
	margin: auto;

}
#homepageimg img{
	width: 100%;
	height: 100%;
	margin: auto;
	box-shadow: 10px 10px 5px #888888;
}

footer{
	height: 50px;
	width: 75%;
	margin: auto;
	margin-top: 200px;
	clear: both;
	background-color: green;
	
	
}
#footerimg1 {
	height: 50px;
	width: 15%;
	float: left;
	display: inline;
	
}

#footerimg1 img{
	width: 100px;
	height: 50px;
	margin: auto;
	
}

#footernavbuttons {
	padding-top: 10px;
    padding-right: 5px;
	margin: auto;
	height: auto;
	width: 80%;
	display: inline;
	float: right;
	
}

#footernavbuttons ul{
	list-style-type: none;
	margin: auto;
	padding: 1px;
	overflow: hidden;
	text-align: center;
	width: 100%;
	height: 100%;
}

#footernavbuttons ul li {
    display: inline;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

#footernavbuttons ul li a{
	text-decoration: none;
	color: white;
	
	font-size: 15px;
}

#bottomfooter{
	height: 20px;
	width: 75%;
	margin: auto;
	clear: both;
	background-color: green;
	
}
#bottomfooter ul{
	display: inline;
	list-style-type: none;
	margin: auto;
	padding:0;
	overflow: hidden;
	text-align: center;
	width: 200px;
	height: 90%;
	float: left;
	
	
}

#bottomfooter ul li{
	display: inline;
    text-align: center;
    padding:0;
	margin:auto;
    text-decoration: none;
	float:left;
	color: white;
	opacity: .4;
	padding-left: 2px;
	padding-right: 2px;
	
}

#bottomfooter ul li a{
	text-decoration: none;
	color: white;

	font-size: 10px;
	
}

#bottomfooter p {
	display: inline-block;
	color: white;
	font-size: 10px; 
	float:right;
	width:80px;
	padding:auto;
	padding-right: 10px;
	margin: auto;
	margin-top: 5px;
	text-align: right;
	opacity: .4;
	
}


@media screen and (max-width: 600px) {
  
  header{
	  width:100%;
	  height: auto;
	  margin: auto;
	  margin-bottom:5px;
	  padding-right:15px;
  }
  #logo{
	  width: 100%;
	  height: 100px;
	  margin: auto;
	  position: relative;
  }
  #logo img{
	  height: 100px;
	  width: 100px;
	  margin:auto;
  }
  #titlename{
	  width: 100%;
	  height: 50px;
	  padding: 5px;
	  margin: 5px;
  }
  #titlename img{
    width: 100%;
	height: 50px;
	margin:auto;
	padding: 5px;
  }
  
  
  #indexcontentarea {
	  position: relative;
	  width: 100%;
	  height: 400px;
	  margin: auto;
	  margin-top: 150px;
      margin-bottom: 20px;
	  padding: 2px;
     

  }
  section{
	  width:100%;
	  height: 400px;
	  
  }
  #indexcontentarea section img{
	  width:100%;
	  height: 300px;
  }
  nav{
	 
	  width: 100%;
	  height: 50px;
	  margin: auto;
	  padding: 1px;
	  
	
  }
  #navbuttons{
	
	padding-top: 1px;
	margin: auto;
	height: 50%;
	width: 80%;
	display: inline;
	background-color:blue;
	
	}
	#navbuttons ul{
		list-style-type: none;
		margin: auto;
		padding: 1px;
		overflow: hidden;
		text-align: center;
		width: 100%;
		height: 100%;
	}
	#navbuttons ul li {
		display: inline;
		text-align: center;
		padding: 2px;
		text-decoration: none;
		
	}
	#navbuttons ul a{
		text-decoration: none;
	}
	#hours{
		display: none;
		
	}


	#phonenum{
		padding: 2px;
        margin-top: 5px;
		
	}
	
  footer{
	height: 75px;
	width: 90%;
	margin: auto;
    margin-top:200px;
	clear: both;
	background-color: green;
	
}
	#footerimg1 img{
	display: none;
	
}

	#footernavbuttons{
		width: 90%;
		height: 60%;
		margin: auto;
		margin-top: 1px;
		margin-bottom: 1px;
	    position: absolute;
		padding: 5px;
		display: block;
		
	}


	#bottomfooter{
		height: 20px;
		width: 90%;
		margin: auto;
        margin-bottom: 20px;
		clear: both;
		background-color: green;
		
	}
}

